In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
s =pd.Series([1116,12259,65119,16699], index = ['서울','부산','인천','대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [5]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [8]:
s.name = '농작물 생산량(톤)'

In [9]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [10]:
s.index.name = '지역구'

In [11]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [13]:
s1 = s/1000

In [14]:
s1.name = '농작물 생산량(k톤)'

In [15]:
(s/4456952*100).round(2)

지역구
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농작물 생산량(톤), dtype: float64

In [16]:
s[0],s['서울']

(1116, 1116)

In [17]:
s[[1,0]]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [18]:
s[['부산','서울']]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [19]:
s[s>10000] #조건 걸기

지역구
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [20]:
s[(s>10000) & (s<20000)]

지역구
부산    12259
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [21]:
s[(s/4456952*100)> 0.5]

지역구
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [22]:
s[1:3] # 슬라이싱에서 키 값으로 하면 미만[1부터 2까지]

지역구
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [23]:
s['서울':'대구'] # 슬라이싱에서 인덱스 값으로 하면 포함하여 나타냄

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [24]:
 s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [25]:
s.서울

1116

In [28]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

서울    1
부산    2
dtype: int64

In [27]:
for k,v in s.items():
    print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [29]:
print('제주도' in s)
'서울' in s.keys()

False

True

In [43]:
s21 =pd.Series([1116,12259,65119,16699], index = ['서울','부산','인천','대구'])
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [44]:
s20 =pd.Series([628,11075,56013,15695], index = ['서울','부산','인천','대구'])

In [45]:
s_sub = s21 - s20

In [46]:
import numpy as np
type(np.nan)

float

In [47]:
!python --version

Python 3.9.12

In [48]:
s_sub.astype(int)

서울     488
부산    1184
인천    9106
대구    1004
dtype: int32

In [49]:
s_sub = s21.sub(s20, fill_value=0)

In [50]:
s_sub2 = s21.sub(s20)

In [51]:
s_sub2.fillna(0)

서울     488
부산    1184
인천    9106
대구    1004
dtype: int64

In [52]:
s_sub2.notnull()

서울    True
부산    True
인천    True
대구    True
dtype: bool

In [53]:
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [54]:
s20

서울      628
부산    11075
인천    56013
대구    15695
dtype: int64

In [57]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [61]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [64]:
rs['서울'] = 0

In [65]:
rs[0] = 123

In [66]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [67]:
del rs['대구']

In [68]:
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [69]:
import random

In [75]:
key100 = random.sample(list(range(1000)),100)
# pd.Series() # 크기가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(1000)),80)
value100 = random.sample(list(range(1000)),100)
value80 = random.sample(list(range(1000)),80)
s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [81]:
s_100_80_mul = s100.sub(s80)

In [83]:
for k, v in s_100_80_sub.notnull().items():
    if v:
        print(k, v)

143 True
191 True
195 True
215 True
889 True
910 True

In [84]:
s_100_80_sub[122]

KeyError: 122